In [ ]:
'''Data Wrangling, I
Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate an open source data from the web (e.g., https://www.kaggle.com). Provide a clear 
 description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas dataframe.
4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() 
function to get some initial statistics. Provide variable descriptions. Types of variables etc. 
Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking 
the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the 
data set. If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python.
In addition to the codes and outputs, explain every operation that you do in the above steps and 
explain everything that you do to import/read/scrape the data set.'''

In [3]:
import pandas as pd
df = pd.read_csv('data.csv')
df.dtypes

Age                 int64
BMI               float64
Glucose             int64
Insulin           float64
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

In [7]:
df.describe()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474282,6.881763,269.978250
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000

In [18]:
df.shape  # to get dimension of dataset

(116, 10)

In [10]:
df.groupby(by=['Age']).size()

Age
24    1
25    1
28    1
29    2
32    1
34    3
35    2
36    2
38    2
40    2
41    1
42    2
43    3
44    4
45    7
46    3
47    1
48    4
49    5
50    1
51    4
52    1
53    1
54    3
55    1
57    1
58    1
59    2
60    2
61    1
62    2
64    2
65    3
66    5
67    1
68    3
69    5
71    3
72    3
73    2
74    1
75    4
76    4
77    2
78    1
81    1
82    2
83    1
85    2
86    3
89    1
dtype: int64

In [8]:
df.isnull()  # same as isna()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
111,False,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False,False
113,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,False
115,False,False,False,False,False,False,False,False,False,False

In [23]:
df.isnull().sum()

Age               0
BMI               0
Glucose           0
Insulin           0
HOMA              0
Leptin            0
Adiponectin       0
Resistin          0
MCP.1             0
Classification    0
dtype: int64

In [16]:
df.Age.astype(float)   # typecasting Age(int) to Age(float) not permanent

0      48.0
1      83.0
2      82.0
3      68.0
4      86.0
       ...
111    45.0
112    62.0
113    65.0
114    72.0
115    86.0
Name: Age, Length: 116, dtype: float64

In [17]:
df.dtypes

Age                 int64
BMI               float64
Glucose             int64
Insulin           float64
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

In [18]:
df.Age = df.Age.astype(float) # typecasting Age(int) to Age(float) permanent in db

In [19]:
df.dtypes

Age               float64
BMI               float64
Glucose             int64
Insulin           float64
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

In [33]:
df.describe()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474282,6.881763,269.978250
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000

In [4]:
df.sort_values('Age')

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
13,24,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220,1
12,25,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730,1
32,28,35.855815,87,8.576,1.840410,68.5102,4.794200,21.44366,358.624,1
22,29,32.270788,84,5.810,1.203832,45.6196,6.209635,24.60330,904.981,1
11,29,23.010000,82,5.663,1.145436,35.5900,26.720000,4.58000,174.800,1
...,...,...,...,...,...,...,...,...,...,...
87,85,27.688778,196,51.814,25.050342,70.8824,7.901685,55.21530,1078.359,2
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
78,86,26.666667,201,41.611,20.630734,47.6470,5.357135,24.37010,1698.440,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2
6,89,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083,1

In [35]:
df.sort_values('Age',ascending=False)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
6,89.0,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083,1
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2
78,86.0,26.666667,201,41.611,20.630734,47.6470,5.357135,24.37010,1698.440,2
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
49,85.0,26.600000,96,4.462,1.056602,7.8500,7.931700,9.61350,232.006,1
...,...,...,...,...,...,...,...,...,...,...
22,29.0,32.270788,84,5.810,1.203832,45.6196,6.209635,24.60330,904.981,1
11,29.0,23.010000,82,5.663,1.145436,35.5900,26.720000,4.58000,174.800,1
32,28.0,35.855815,87,8.576,1.840410,68.5102,4.794200,21.44366,358.624,1
12,25.0,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730,1
13,24.0,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220,1

In [36]:
df.rename(columns={'Age':'Year Old'})

,Year Old,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [14]:
df.groupby(by=['Age']).sum()

,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
Age,,,,,,,,
24,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220
25,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730
28,35.855815,87,8.576,1.840410,68.5102,4.794200,21.44366,358.624
29,55.280788,166,11.473,2.349268,81.2096,32.929635,29.18330,1079.781
32,36.512637,87,14.026,3.009980,49.3727,5.100000,17.10223,588.460
34,77.687439,257,29.698,6.563800,60.0555,42.576505,24.61126,1409.332
35,65.527578,174,11.193,2.420081,89.8228,16.015080,38.47409,1401.725
36,62.751566,166,10.935,2.222146,25.4057,13.665915,24.87577,1115.537
38,45.839637,170,11.043,2.302498,23.6980,22.721920,25.08606,364.075
40,58.472585,231,44.326,13.845222,45.3609,12.944865,43.56863,931.384
41,26.672763,97,22.033,5.271762,44.7059,13.494865,27.83250,783.796
42,50.656790,191,7.171,1.696482,31.3443,15.158500,71.04785,1363.762
43,92.234674,293,38.077,8.821059,66.7944,27.440210,61.46336,2542.292
44,92.947617,405,91.111,23.602203,58.0057,62.268170,40.60306,936.226
45,178.804804,649,41.557,9.686763,159.5559,73.620105,99.39041,3123.531
46,76.220000,266,46.110,9.883440,41.7200,37.470000,28.13000,822.400
47,22.030000,84,2.869,0.590000,26.6500,38.040000,3.32000,191.720
48,115.336911,458,46.086,14.004132,88.5470,45.598815,87.89423,4552.028
49,127.418276,468,51.454,13.768835,118.1363,47.503750,82.91385,3100.591
50,38.578759,106,6.703,1.752611,46.6401,4.667645,11.78388,887.160
51,88.084251,378,16.989,3.991207,48.8099,31.109485,30.71065,1437.351
52,30.801249,87,30.212,6.483495,29.2739,6.268540,24.24591,764.667
53,36.790166,101,10.175,2.534932,27.1841,20.030000,10.26309,695.754
54,90.751908,295,21.177,5.516453,110.2884,21.446610,25.59754,2081.239
55,31.975015,92,16.635,3.775036,37.2234,11.018455,7.16514,483.377
57,34.838148,95,12.548,2.940415,33.1612,2.364950,9.95420,655.834
58,29.154519,139,16.582,5.685415,22.8884,10.262660,13.97399,923.886
59,51.505505,175,10.050,2.264282,31.9257,20.670585,39.89530,1265.799
60,57.580702,234,35.268,11.041402,62.1428,10.598710,31.75355,775.017
61,32.038959,85,18.077,3.790144,30.7729,7.780255,13.68392,444.395
62,49.496250,192,8.012,1.907582,22.3148,32.656235,18.01548,1034.133
64,56.751945,193,10.127,2.415274,33.4022,10.246605,20.61433,648.425
65,92.632125,279,30.870,6.952552,132.0183,33.532960,50.26174,2409.138
66,153.159910,452,41.525,9.541414,176.6484,38.243930,70.61831,3097.047
67,29.606767,79,5.819,1.133929,21.9033,2.194280,4.20750,585.307
68,78.010335,310,17.576,4.806182,37.4521,27.644215,30.69844,1575.419
69,146.951004,503,37.271,9.194875,191.2276,36.297295,130.60180,1816.217
71,83.725723,318,36.935,9.639043,129.0670,15.272120,96.28544,1256.875
72,78.346316,270,18.189,3.956797,73.5481,54.394910,22.85966,820.418
73,59.109375,231,8.986,2.664429,45.8764,13.694390,13.17680,925.757
74,28.650138,88,3.012,0.653805,31.1233,7.652220,18.35574,572.401
75,106.480000,414,25.238,6.605011,143.9730,34.381015,30.89485,959.947
76,107.318408,405,52.127,13.358130,90.5420,34.903545,30.05750,1402.553
77,61.487929,161,8.461,1.687831,35.5263,17.878810,29.03550,1107.101
78,25.300000,60,3.508,0.519184,6.6330,10.567295,4.66380,209.749
81,31.640368,100,9.669,2.385020,38.8066,10.636525,29.55830,426.175
82,54.342152,191,22.575,5.468644,49.5846,32.355690,29.22402,1549.013
83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786
85,54.288778,292,56.276,26.106943,78.7324,15.833385,64.82880,1310.365
86,74.957778,431,65.070,28.213484,144.6264,24.286375,39.29645,2562.450
89,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083

In [15]:
df

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [38]:
df.sort_index()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [39]:
df.reset_index()

,index,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...,...
111,111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [40]:
df.drop(columns=['Age'])

,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...
111,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [43]:
df.melt()

            variable value
0                Age    48
1                Age    83
2                Age    82
3                Age    68
4                Age    86
...              ...   ...
1155  Classification     2
1156  Classification     2
1157  Classification     2
1158  Classification     2
1159  Classification     2

[1160 rows x 2 columns]

In [47]:
df.drop_duplicates() # removes duplicate rows

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [50]:
df.head(5)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [51]:
df.tail(5)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
111,45.0,26.85,92,3.33,0.755688,54.68,12.10,10.96,268.23,2
112,62.0,26.84,100,4.53,1.117400,12.45,21.42,7.32,330.16,2
113,65.0,32.05,97,5.73,1.370998,61.48,22.54,10.33,314.05,2
114,72.0,25.59,82,2.82,0.570392,24.96,33.75,3.27,392.46,2
115,86.0,27.18,138,19.91,6.777364,90.28,14.11,4.35,90.09,2

In [52]:
df.count()

Age               116
BMI               116
Glucose           116
Insulin           116
HOMA              116
Leptin            116
Adiponectin       116
Resistin          116
MCP.1             116
Classification    116
dtype: int64

In [53]:
df.median()

Age             56.000000
BMI             27.662416
Glucose         92.000000
Insulin          5.924500
HOMA             1.380939
Leptin          20.271000
Adiponectin      8.352692
Resistin        10.827740
MCP.1          471.322500
dtype: float64

In [54]:
df.quantile() # depricated

Age             56.000000
BMI             27.662416
Glucose         92.000000
Insulin          5.924500
HOMA             1.380939
Leptin          20.271000
Adiponectin      8.352692
Resistin        10.827740
MCP.1          471.322500
Name: 0.5, dtype: float64

In [55]:
df.min()

Age                     24
BMI                  18.37
Glucose                 60
Insulin              2.432
HOMA              0.467409
Leptin               4.311
Adiponectin        1.65602
Resistin              3.21
MCP.1               45.843
Classification           1
dtype: object

In [56]:
df.max()

Age                    89
BMI               38.5788
Glucose               201
Insulin             58.46
HOMA              25.0503
Leptin              90.28
Adiponectin         38.04
Resistin             82.1
MCP.1             1698.44
Classification         na
dtype: object

In [57]:
df.mean()

Age             57.301724
BMI             27.582111
Glucose         97.793103
Insulin         10.012086
HOMA             2.694988
Leptin          26.615080
Adiponectin     10.180874
Resistin        14.725966
MCP.1          534.647000
dtype: float64

In [58]:
df.std()

Age             16.112766
BMI              5.020136
Glucose         22.525162
Insulin         10.067768
HOMA             3.642043
Leptin          19.183294
Adiponectin      6.843341
Resistin        12.390646
MCP.1          345.912663
dtype: float64

In [59]:
pd.get_dummies(df['Age']) # to convert categorical variable into dummy/indicator variables.

,24.0,25.0,28.0,29.0,32.0,34.0,35.0,36.0,38.0,40.0,...,75.0,76.0,77.0,78.0,81.0,82.0,83.0,85.0,86.0,89.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [13]:
df.iloc[0:5] # returns rows 0,1,2,3,4

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [22]:
df.iloc[:5,:2].sort_values("Age")

    Age        BMI
0  48.0  23.500000
3  68.0  21.367521
2  82.0  23.124670
1  83.0  20.690495
4  86.0  21.111111